* {
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  
}

.header img {
  width: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}


.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
  
}

a {
  color: rgb(255, 225, 0);
  text-decoration: none;
  font-size: 24px;
  
}

.sub-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  color:  rgb(255, 225, 0);
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 60px;
}

.sub-header h1{
  font-size: 50px;
  margin-bottom: 10px;
}

.sub-header p {
  margin-bottom: 10px;
}

.sub-header button {
  padding: 10px 30px;
  background-color: #1f2937;
  font-weight: bold;
  font-size: 50px;
  color: #1f2937;
  border-radius: 10px;
  border-color:   rgb(255, 225, 0);
  border-width: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  
}
.sub-header button:hover {
  
  background-color:  rgb(255, 225, 0);
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  
}
.sub-header img{
  width: 450px;
  height: 250px;
  border-radius: 20px;
  
}

.sub-header-left {
  width: 400px;
}

.middle-title {
  display: flex;
  justify-content:center;
  font-size:50px;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgb(255, 225, 0);
  color: #1f2937;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 225, 0);
  gap: 10px;
  font-size: 20px;
  
}

.middle img {
  border-radius: 20px;
}
.info {
  max-width: 210px;
  padding: 20px;
  
  
  }


.o-ren, .bill {
  height: 225px;
  width: 190px;
}

.sub-middle {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color:  rgb(255, 225, 0);
  padding: 100px;
  justify-content: center; 
  align-items: center;
  
  
}

.quote-text {
  font-size: 40px;
  width: 800px;
  margin:0 auto;
}

.sub-middle .quote-author {
  font-size: 30px;
  margin-left: 300px;
  margin-top: 10px;
}

.footer-container {
  background-color:  rgb(255, 225, 0);
  display: flex;
  flex-direction: column;

  
  
}
.footer {
  display: flex;
  flex-wrap: wrap;
  background-color:  #1f2937;
  gap:10%;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color:  rgb(255, 225, 0); 
  margin-left:8%;
  margin-right:8%;
  margin-top:2%;
  margin-bottom:2%;
  font-size: 20px;
  
  
  
}

.footer h3 {
  font-size: 30px;
}

.footer button {
  padding: 10px 30px;
  background-color: #1f2937;
  font-weight: bold;
  font-size: 50px;
  color: #1f2937;
  border-radius: 10px;
  border-color:   rgb(255, 225, 0);
  border-width: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  
}
.footer button:hover {
  
  background-color:  rgb(255, 225, 0);
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  
}

@media only screen and (max-width: 600px) {
  .wrapper-main {
    width: 100%;
       
  }
  .quote-text {
    font-size: 30px;
    width: 80%;
   
  }

  .sub-header {
    gap:40px;
  }
  .sub-header img{
    width: 400px;
    height: 250px;
    
  }
  
  .sub-header button {
    
    background-color:   rgb(255, 225, 0);
    
  }
  .sub-header-left {
    width: 400px;
  }
  .sub-middle {
    padding: 30px;
    justify-content: center; 
    align-items: center;
  
  }
  .sub-middle .quote-author {
    font-size: 20px;
    margin-left: 200px;
    margin-top: 10px;
  }
  .header img {
    width: 30%;
    
  }

  .footer {
    margin-left:0%;
  margin-right:0%;
  margin-top:5%;
  margin-bottom:5%;
  }

  .footer button {
    background-color:   rgb(255, 225, 0);
  }
}

@media only screen and (min-width: 601px) {
  .wrapper-main {
    width: 100%;
       
  }

  .sub-header button {
    
    background-color:   rgb(255, 225, 0);
    
  }
  .quote-text {
    
    width: 80%;
   
  }
  .footer button {
    background-color:   rgb(255, 225, 0);
  }
}
